h1{
    text-align: center;
}
#post-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    align-items: start;
    margin-top: 12px;
}
.post{
    background: #f9f9f9;
    border: 1px solid black;
    padding: 16px;
}